.gorilla-charities {
  background-size: cover;
  background-position: center;
  color: #FFFFFF; /* White */
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gorilla-charities .content {
  background-color: rgba(0, 0, 0, 0.2); /* Black with opacity */
  padding: 1rem;
  border-radius: 8px;
  max-width: 80%;
  text-align: left;
}

.charity {
  margin-bottom: 2rem;
}

.charity hr {
  border: 0;
  height: 2px;
  background-color: #835b52; /* Light brown */
  margin: 2rem 0;
}

.charity p, .charity h2, .charity a {
  color: #FFFFFF; /* White */
}

.gorilla-charities h1 {
  color: #FFFFFF; /* White */
}
